.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a {
  text-decoration: none;
}

.button {
  position: relative;
  margin: 0;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #232c39;
  color: #ffffff;
  font-size: 20px;
  border-radius: 5px;
}

.button:hover {
  color: #9fd4e2;
}

.page-numbers {
  color: #75797d;
  background-color: #262f3d;
  text-decoration: none;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-family: "tahoma";
  font-size: 16px;

  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.page-numbers:hover {
  color: #262f3d;
  background-color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  border-radius: 50px;
}

.current {
  background-color: #262f3d;
  color: #9cd3e1;
  font-family: "tahoma";
  text-decoration: none;
  font-size: 20px;
}

.back-td {
  width: 250px;
  text-align: left;
}

.prev-td {
  width: 250px;
  text-align: right;
}

.paging-td {
  width: 500px;
  text-align: center;
}
