{% extends "base.html" %} {% block extra_styles %}
<link rel="stylesheet" href="/static/css/index.css" />
<link rel="stylesheet" href="/static/css/buttons.css" />
{% endblock extra_styles %} {% block content %}
<div class="h-100 w-100 bg-secondary bg-gradient">
    <canvas id="glcanvas" tabindex="1"></canvas>
</div>
<script src="/static/scripts/gl.js"></script>
<script src="/static/scripts/sapp_jsutils.js"></script>
<script src="/static/scripts/index.js"></script>
<script>load("/static/scripts/client.wasm");</script> <!-- Your compiled wasm file -->
{% endblock content %}
